<div class="header">
	<div class="shoppingCart" (click)="showShoppingList()">
		<span>{{quantity}}</span>
	</div>
	<h1>My Shopping List</h1>
</div>
<div class="container hideAndShow" id="shoppingCartContainer">
	<h2>Shopping Cart</h2>
	<div *ngFor="let product of list; index as i" class="cartProduct">
		<img src="{{product.image}}" alt="">
		<div class="cartHeaderDiv">
			<span>Name: </span>
			<span>{{product.name}}</span>
		</div>
		<div class="cartHeaderDiv">
			<span>Price: </span>
			<span>{{product.price}}</span>
		</div>
		<div class="cartHeaderDiv">
			<span>Quantity: </span>
			<span>{{product.count}}</span>
		</div>
		<div class="cartHeaderDiv totalCount">
			<span>Total: </span>
			<span>{{product.count * product.price}}</span>
		</div>
		<div class="substractBtnDiv">
			<button class="btn btn-info substractBtn" (click)="substract(product.count, i)">-</button>
		</div>
	</div>
	<div class="totalPrice">
		<span>Total Price: {{totalPrice}} $</span>
	</div>
	<div class="orderBtnDiv">
		<button class="btn btn-dark orderBtn" (click)="order()">Order</button>
	</div>
	<div class="errorDiv"></div>
</div>